{% extends "_base.html" %}
{% load i18n %}

{% block header %}
<h1>Sign Up</h1>
{% endblock header %}


{% block body %}
    <form class="signup form-grid" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>

{% endblock body %}