{% load static %}

<div class="app-topbar-inner">
<a class="app-brand" href='{% url "yearly_list" %}' aria-label="Carrots budgets">
    <img src='{% static "images/carrots_logo.svg" %}' alt="" aria-hidden="true" width="22" height="42">
    <span>Carrots</span>
</a>
<nav class="app-navigation" aria-label="Primary navigation">
    <button id="menu-toggle" class="menu-toggle" type="button" aria-controls="primary-nav" aria-expanded="false" aria-label="Toggle navigation">☰</button>
    <ul class="nav-list" id="primary-nav">
    {% if user.is_authenticated %}
    <li><a href='{% url "yearly_list" %}'>Budgets</a></li>
    <li><a href='{% url "purchase_list" %}'>Purchase List</a></li>
    <li class="nav-list-action"><button class="sidebar-action" type="button" hx-get='{% url "purchase_create" %}?next={{ request.get_full_path|urlencode:"" }}' hx-target="#modal-content">Add a Purchase</button></li>
    <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'account_login' %}">Login</a></li>
    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
    {% endif %}
    </ul>
</nav>
</div>
