{% load static %}

<div class="logo-sidebar-container">
    <span class="logo-sidebar-text">Carrots</span>
    <img src='{% static "images/carrots_logo.svg" %}' alt="Carrots Budget logo" height="50">
    <button id="menu-toggle" class="menu-toggle" type="button" aria-controls="primary-nav" aria-expanded="false" aria-label="Toggle navigation">☰</button>
</div>
<ul class="nav-list" id="primary-nav">
    {% if user.is_authenticated %}
    <li><a href='{% url "yearly_list" %}'>Budgets</a></li>
    <li><a href='{% url "purchase_list" %}'>Purchase List</a></li>
    <li class="nav-list-action"><button class="sidebar-action" type="button" hx-get='{% url "purchase_create" %}?next={{ request.path|urlencode:"" }}' hx-target="#modal-content">Add a Purchase</button></li>
    <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'account_login' %}">Login</a></li>
    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
    {% endif %}
</ul>
