/* *{
    font-size: 6px;
} */

.purchase-horizontal-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.budget-horizontal-grid-year{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    font-size: 12px;
}

.budget-horizontal-grid-month{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    font-size: 12px;
}

.budget-horizontal-grid-monthly{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.yearly-detail-grid{
    display: grid;
    grid-template-columns: 150px repeat(13, 200px);
    overflow-x: auto;
}

.yearly-detail-grid-header{
    display: grid;
    grid-template-columns: 150px repeat(12, 200px)
}

.purchase-form{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr repeat(5, 1fr);
}