/*
  Josh's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* End of custom CSS reset */

:root {
    --main-color: hsl(144deg 100% 26% / 70%);
}

* {
    font-family: 'Lato', sans-serif;
}

a {
    /* text-decoration: none; */
    color: black;
}


.main-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.main-container> :first-child {
    flex-basis: 175px;
    flex-grow: 1;
    background-color: var(--main-color);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
}

.main-container> :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
    background-color: #fdfdfd;
}

.flex {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
    padding-left: 0px;
}

.nav-list>li {
    padding: 5px 5px 5px 0;
}

.nav-list>li>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo-sidebar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-sidebar-text {
    color: white;
    font-size: 24px;
    font-weight: 800;
}


.month-nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.month-nav-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    max-width: 1050px;
    overflow-x: auto;
}

.content-container {
    /* display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-left: 10px; */
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding-left: 10px;

}

.content {
    max-width: 1050px;
    width: 100%;
    padding: 0 10px;
}

@media (max-width: 768px) {
    .content {
        max-width: 100%;
        padding: 0 5px;
    }
}

.summary-horizontal-grid-monthly {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 10px;
    padding-left: 10px;
}

.purchase-horizontal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr .75fr;
    margin-bottom: 10px;
    padding-left: 10px;
    column-gap: 10px;
    row-gap: 5px;
}

.purchase-horizontal-grid-categories {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr .75fr;
}

.purchase-horizontal-grid-delete {
    grid-template-columns: repeat(6, 1fr);
}

.purchase-horizontal-grid div {
    white-space: nowrap;
    overflow: hidden;
}

.income-horizontal-grid-monthly {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 75px;
    row-gap: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.recurring-purchase-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr .75fr 100px;
    margin-bottom: 10px;
    padding-left: 10px;
    column-gap: 10px;
    row-gap: 5px;
}

.recurring-purchase-grid div {
    white-space: nowrap;
    overflow: hidden;
}

.recurring-add-grid {
    display: grid;
    grid-template-columns: 50px 1.5fr 100px 120px 1fr 150px;
    margin-bottom: 10px;
    padding-left: 10px;
    column-gap: 10px;
    row-gap: 5px;
    align-items: center;
}

.recurring-add-grid div {
    white-space: nowrap;
    overflow: hidden;
}

.budget-monthly-single-col {
    margin-bottom: 10px;
}

.yearly-detail-grid-container {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.budget-horizontal-grid-yearly {
    display: grid;
    grid-template-columns: repeat(7, 1fr) 75px;
    margin-bottom: 10px;
    padding-left: 10px;
    row-gap: 5px;
}

.budget-horizontal-grid-yearly>div {
    white-space: nowrap;
    overflow: hidden;
}

[data-tooltip]:before {
    position: absolute;
    content: attr(data-tooltip);
    opacity: 0;
    display: none;

    transition: all 0.05s ease;
    /* padding: 5px; */
    /* color: #333; */
    /* border-radius: 10px; */
    /* box-shadow: 2px 2px 1px silver;   */
}

[data-tooltip]:hover:before {
    display: block;
    opacity: 1;

    background: #FFFFFF;
    /* margin-top: -2.5px; */
    /* margin-left: 20px;   */
}

.budget-horizontal-grid-year>div {
    white-space: nowrap;
    overflow: hidden;
}

.budget-horizontal-grid-month {
    display: grid;
    grid-template-columns: 80px 65px 80px;
    border: 1px solid black;
    /* font-size: 12px; */
    column-gap: 5px;
}

.budget-horizontal-grid-monthly {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px;
    margin-bottom: 10px;
    padding-left: 10px;
    row-gap: 5px;
}

.budget-horizontal-grid-monthly>div {
    white-space: nowrap;
    overflow: hidden;
}


.yearly-detail-grid {
    display: grid;
    grid-template-columns: repeat(12, 240px);
    overflow-x: auto;
}

@media (max-width: 768px) {
    .yearly-detail-grid {
        grid-template-columns: repeat(12, 150px);
    }
}

.yearly-detail-grid-header {
    display: grid;
    grid-template-columns: 150px repeat(12, 200px);
    overflow-x: auto;
}

@media (max-width: 768px) {
    .yearly-detail-grid-header {
        grid-template-columns: 100px repeat(12, 150px);
    }
}

#purchase-form-container {
    width: 900px;
    max-width: 100%;
}

@media (max-width: 768px) {
    #purchase-form-container {
        width: 100%;
    }
}

.purchase-form {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 100%;
}

.page-header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;

}

.page-title {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    margin: 0px 0px 5px 0px;
    font-size: 24px;
    margin-left: 5px;
}

.purchase-form input,
.purchase-form select,
.purchase-form textarea {
    width: 90%;
}

.page-header-action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    border-radius: 10px;
    margin-top: 20px;
}


.card-base {
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-header-container {
    display: flex;
    flex-wrap: nowrap;
}

.card-header-action {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 10px;
    padding-left: 10px; */
    margin-bottom: 5px;
    /* background-color: var(--main-color); */
    border-radius: 10px;
}

.card-header-action>a {
    color: white;
    text-decoration: none;

}

.card-main {
    display: flex;
}

.card-container-horz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-table-header {
    background-color: #F1F1F1;
    border-radius: 7px;
    padding: 5px;
}

.card-table-heading {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 5px 5px 5px;
}

.return-link {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-weight: bold;
}

.budget-subtotal {
    padding: 5px;
    border-top: 2px solid #4ca971;
}

.budget-totals {
    background-color: #4ca97136;
    border: 3px solid #4ca971;
}

.card-table-subtotal {
    font-size: 16px;
    font-weight: 600;
    margin: 2px 5px 2px 5px;
}

.rollover-items-grid {
    display: grid;
    gap: 5px;
    justify-items: center;
}

.rollover-edit {
    width: 75px;
    padding: 0px;
    border: none;
    font-size: 16px;
}

.month-select-container {
    display: flex;
    margin-bottom: 5px;
}

.form-grid {
    display: grid;
    row-gap: 5px;
    max-width: 400px;
    margin: auto;
}

.budgetitem-bulk-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.budgetitem-bulk-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-header-container {
    display: flex;
}

.home-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-link-container {
    display: flex;
    justify-content: space-around;
}

.home-link-container>a {
    text-decoration: none;
}

.home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: 3px solid black;
    border-radius: 5px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}

.edit-links-container {
    display: flex;
    justify-content: space-around;
}

.delete-single-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.button-delete {
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    width: fit-content;
}

.button-delete:hover {
    background-color: rgb(149, 44, 44);
    border: 1px solid rgb(149, 44, 44);
}

.button-delete-standalone {
    margin-top: 20px;
}

.button-blank {
    background-color: inherit;
    border: none;
}

.button-budget {
    width: fit-content;
    margin-left: 40px;
}

.button-create {
    border: none;
    background-color: var(--main-color);
    color: white;
    padding-right: 10px;
    height: 100%;
    padding-left: 10px;
    border-radius: 10px
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfdfd;
    border-radius: 20px;
    padding: 20px 35px;
}

.hidden {
    display: none;
}

/* Desktop menu toggle (hidden by default) */
.menu-toggle {
    display: none;
}


/* Mobile menu styles */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .main-container> :first-child {
        flex-basis: auto;
        padding: 10px 20px;
    }

    .logo-sidebar-container {
        justify-content: space-between;
    }

    .menu-toggle {
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        display: block;
    }

    #primary-nav {
        display: none;
        background-color: var(--main-color);
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }

    #primary-nav.nav-open {
        display: block;
    }

    .nav-list>li {
        padding: 10px 0;
    }

    .nav-list>li>a {
        display: block;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-list>li>a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

/* Prevent horizontal scrolling on mobile */
@media (max-width: 768px) {
    /* body {
        overflow-x: hidden;
    }

    .main-container {
        overflow-x: hidden;
    } */
}