{% extends "_base.html" %}
{% load static %}

{% block body %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Create</button>
</form>

<h3>Existing Categories</h3>
<ul>
    {% for category in categories %}
    <li>
        {{category.name}} {% if category.rollover %}(Rollover){% endif %}
        <button class="button-blank" hx-get='{% url "category_edit_htmx" pk=category.id %}?next={{request.path|urlencode}}' hx-target="#modal-content">
            <img class="list-nav-icon" src="{% static 'images/edit-pencil.svg' %}" width="17px" alt="Edit">
        </button>
    </li>
    {% endfor %}
</ul>
{% endblock body %}