{% extends "_base.html" %}

{% block body %}

<div class="card-base">
    <div class="purchase-horizontal-grid card-table-header">
        <div class="card-table-heading">Date</div>
        <div class="card-table-heading">Source</div>
        <div class="card-table-heading">Amount</div>
        <div class="card-table-heading">Category</div>
        <div class="card-table-heading">Notes</div>
        <div class="card-table-heading"></div>
    </div>

    <div class="purchase-horizontal-grid">
        <div>{{income.date}}</div>
        <div>{{income.source}}</div>
        <div>${{income.amount}}</div>
        <div>{{income.category}}</div>
        <div>{{income.notes}}</div>
        <div></div>
    </div>

</div>
<form class="delete-single-item" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="hidden" name="next" value="{{request.GET.next}}">
    <button class="button-delete" type="submit">Delete</button>
</form>

{% endblock body %}