{% extends "_base.html" %}
{% load static %}



{% block header %}
        <h1>Purchases</h1>
{% endblock header %}

{% block body %}
<div class="purchase-horizontal-grid purchase-horizontal-grid-categories card-table-header">
    <div>Date</div>
    <div>Item</div>
    <div>Amount</div>
    <div>Source</div>
    <div>Location</div>
    <div>Category</div>
    <div></div>
</div>

<div class="purchase-horizontal-grid purchase-horizontal-grid-categories">
    {% for purchase in purchases %}
    <div>{{purchase.date}}</div>
    <div>{{purchase.item}}</div>
    <div>{{purchase.amount}}</div>
    <div>{{purchase.source}}</div>
    <div>{{purchase.location}}</div>
    <div>{{purchase.category}}</div>
    <div>
        <div class="edit-links-container">
            <button class="button-blank" hx-get='{% url "purchase_edit_htmx" pk=purchase.id %}?next={{request.path|urlencode}}' hx-target="#modal-content"><img class="list-nav-icon" src="{% static 'images/edit-pencil.svg' %}" width="17px"></button>
            <button class="button-blank" hx-get='{% url "purchase_delete_htmx" pk=purchase.id %}?next={{request.path|urlencode}}' hx-target="#modal-content"><img class="list-nav-icon" src="{% static 'images/trash.svg' %}" width="17px"></button>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock body %}