{% load static %}
<form id="purchase-form-container" hx-post='{% url "purchase_create" %}' method="POST">
    {% csrf_token %}
    {{purchase_formset.management_form}}
    {% for form in purchase_formset %}
    <div class="purchase-form">
        {% for hidden in form.hidden_fields %}
        {{hidden}}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div>
        {{field.errors}}
        {{field.label_tag}}
        {{field}}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <input type="hidden" name="next" value="{{next}}">
    <button id="submit-button" type="submit">Add</button>
    <button id="add-form" type="button">Add Item</button>
    <p id="total">Total: </p>
</form>

<script src="{% static 'js/purchase-formset.js' %}"></script>