{% load static %}

<form id="purchase-form-container" data-behavior="purchase-create" hx-post='{% url "purchase_create" %}' method="POST">
    {% csrf_token %}
    {{purchase_formset.management_form}}
    {% for form in purchase_formset %}
    <div class="purchase-form">
        {% for hidden in form.hidden_fields %}
        {{hidden}}
        {% endfor %}
        {% for field in form.visible_fields %}
        {% if forloop.parentloop.first or field.name != "source" and field.name != "location" %}
        <div>
        {{field.errors}}
        {{field.label_tag}}
        {{field}}
        </div>
        {% else %}
        <div class="purchase-field-spacer" aria-hidden="true"></div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    <input type="hidden" name="next" value="{{next}}">
    <button id="submit-button" type="submit">Add</button>
    <button id="add-form" type="button">Add Item</button>
    <p id="total">Total: </p>
</form>
<script src="{% static 'js/app/pages/purchase-create.js' %}"></script>
