{% extends "_base.html" %}

{% block body %}

<div class="card-base">
    <div class="purchase-horizontal-grid card-table-header">
        <div class="card-table-heading">Date</div>
        <div class="card-table-heading">Item</div>
        <div class="card-table-heading">Amount</div>
        <div class="card-table-heading">Source</div>
        <div class="card-table-heading">Location</div>
        <div class="card-table-heading">Category</div>
    </div>

    <div class="purchase-horizontal-grid">
        <div>{{purchase.date}}</div>
        <div>{{purchase.item}}</div>
        <div>${{purchase.amount}}</div>
        <div>{{purchase.source}}</div>
        <div>{{purchase.location}}</div>
        <div>{{purchase.category}}</div>
    </div>

</div>
<form class="delete-single-item" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{request.GET.next}}">
    <button class="button-delete" type="submit">Delete</button>
</form>

{% endblock body %}