<div>
    <h2>Confirm Delete</h2>
    <div class="card-base">
        <div class="recurring-purchase-grid card-table-header">
            <div class="card-table-heading">Name</div>
            <div class="card-table-heading">Amount</div>
            <div class="card-table-heading">Category</div>
            <div class="card-table-heading">Merchant</div>
        </div>

        <div class="recurring-purchase-grid">
            <div>{{recurring_purchase.name}}</div>
            <div>${{recurring_purchase.amount|floatformat:"-2"}}</div>
            <div>{{recurring_purchase.category}}</div>
            <div>{{recurring_purchase.merchant}}</div>
        </div>
    </div>

    <button hx-delete='{% url "recurring_purchase_delete" pk=recurring_purchase.id %}?next={{next|urlencode}}' class="button-delete button-delete-standalone">Delete</button>
</div>
