{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_includes/head.html" %}
    <title>{% block title %}Carrots Budgeting{% endblock title %}</title>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/app/modal.js' %}" defer></script>
    <script src="{% static 'js/app/nav.js' %}" defer></script>
    <script src="{% static 'js/app/csrf.js' %}" defer></script>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="main-container">
        <aside class="app-sidebar">
            {% include "_includes/sidebar.html" %}
        </aside>

        <main class="app-main">
            <div class="page-header">
                {% block header %}
                {% endblock header %}
            </div>
            {% block heading_nav %}
            {% endblock heading_nav %}
            <div class="content-container">
                <div class="content {% block content_class %}{% endblock content_class %}">
                    {% block body %}
                    {% endblock body %}
                </div>
            </div>
        </main>
    </div>

    {% include "_includes/modal_shell.html" %}


    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
