{% extends "_base.html" %}

{% block body %}
<ul>
    <li>{{budget_item.monthly_budget.date.year}} - {{budget_item.monthly_budget.date.month}}</li>
    <li>{{budget_item.category}}</li>
    <li>Amount: {{budget_item.amount}}</li>
</ul>

<div class="purchase-horizontal-grid">
    <div>Date</div>
    <div>Item</div>
    <div>Amount</div>
    <div>Source</div>
    <div>Location</div>
    <div>Category</div>
    <div>Edit</div>
    <div>Delete</div>
</div>
{% for purchase in purchases %}

<div class="purchase-horizontal-grid">
    <div>{{purchase.date}}</div>
    <div>{{purchase.item}}</div>
    <div>{{purchase.amount}}</div>
    <div>{{purchase.source}}</div>
    <div>{{purchase.location}}</div>
    <div>{{purchase.category}}</div>
    <div><a href='{% url "purchase_edit" pk=purchase.id %}?next={{request.path|urlencode}}'>Edit</a></div>
    <div><a href='{% url "purchase_delete" pk=purchase.id %}'>Delete</a></div>
</div>

{% endfor %}

{% endblock body %}