{% extends "_base.html" %}


{% block body %}

<div>
Deleting this budget item will set its amount to $0.00 for {{object.monthly_budget.date|date:"F"}} but it will still show up in your budget.
</div>

<form class="delete-single-item" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div>
        <input type="checkbox" name="delete-all" value="true">
        <label>Check the box to delete all budgets items in the {{object.category.name}} category for {{object.monthly_budget.date.year}}. This will completely remove this budget item from your budget for all months in the year. This cannot but undone.</label>
    </div>
    <button class="button-delete" type="submit">Delete</button>
</form>

{% endblock body %}