{% extends "_base.html" %}

{% block header %}
    <h1 class="page-title">Budgets</h1>
{% endblock header %}

{% block body %}
<button class="card-header-action button-budget button-create" hx-get='{% url "yearly_create" %}?next={{request.path|urlencode}}' hx-target="#modal-content"> + Add New Budget</button>

<ul>
    {% for budget in yearly_budgets %}
    <div class="card-base">
        <h2><a href='{% url "yearly_detail" year=budget.date.year %}'>{{budget.date.year}}</a></h2>
    </div>
    {% endfor %}
</ul>

{% endblock body %}