{% extends "_base.html" %}

{% block header %}
    <h1 class="page-title">Budgets</h1>
{% endblock header %}

{% block body %}
<button class="card-header-action button-budget button-create" hx-get='{% url "yearly_create" %}?next={{request.path|urlencode}}' hx-target="#modal-content"> + Add New Budget</button>

<ul>
    {% for budget in yearly_budgets %}
    <div class="card-base">
        <h2><a href='{% url "yearly_detail" year=budget.date.year %}'>{{budget.date.year}}</a></h2>
        
        <div class="summary-horizontal-grid-monthly card-table-header">
            <div class="card-table-heading">Budgeted</div>
            <div class="card-table-heading">Income</div>
            <div class="card-table-heading">Spent</div>
            <div class="card-table-heading">Saved</div>
            <div class="card-table-heading">Spent + Saved</div>
            <div class="card-table-heading"></div>
        </div>
        <div class="summary-horizontal-grid-monthly">
            <div>${{budget.summary.total_budgeted|floatformat:"-2"}}</div>
            <div>${{budget.summary.total_income|floatformat:"-2"}}</div>
            <div>${{budget.summary.total_spent|floatformat:"-2"}}</div>
            <div>${{budget.summary.total_saved|floatformat:"-2"}}</div>
            <div>${{budget.summary.total_spent_saved|floatformat:"-2"}}</div>
            <div></div>
        </div>
    </div>
    {% endfor %}
</ul>

{% endblock body %}