{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Carrots Budgeting{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main-container">
        <div>
            <ul class="nav-list">
                {% if user.is_authenticated %}
                <li><a href='{% url "yearly_list" %}'>Budgets</a></li>
                <li><a href='{% url "yearly_create" %}'>New Budget</a></li>
                <li><a href='{% url "purchase_add" %}'>Add a Purchase</a></li>
                <li><a href='{% url "purchase_list" %}'>Purchase List</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li> <a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>

        <div>
            <div class="page-header">
                {% block header %}
                {% endblock header %}
            </div>
            {% block heading_nav %}
            {% endblock heading_nav %}
            <div class="content-container">
                <div class="content">
                    {% block body %}
                    {% endblock body %}
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>